@import '~antd/dist/antd.css';

* {
	font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}
body{
	margin: 0;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #143e9c;
	padding: 1rem;
}
.header .header-logo{
	max-width: 200px;
}
.header .fa-shopping-cart{
	position:relative;
	color: #fff;
	font-size: 1.5rem;
	margin-right: 1rem;
}
.header .fa-shopping-cart::after {
	content: '1';
  	position: absolute;
  	width: 20px;
  	height: 20px;
  	border-radius: 20px;
  	background: #d4a113;
  	color: #fff;
  	font-size: 10px;
  	top: -10px;
  	right: -10px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-family: 'Lato', sans-serif;
}
.header .fa-user{
	color: #fff;
	font-size: 1.5rem;
}
.content{
	padding : 0 1rem;
	min-height: calc(100vh - 100px);
	max-width: 1300px;
	margin: 0 auto;
}

.content .sidebar{
	width: 20%;
	padding: 1rem;
	border-right: 1px solid #ddd;
}
.container{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.content .product-container {
	flex: 1;
  padding: 1rem;
}

.content .product-container .col-4 {
	margin-bottom: 1rem;
}

.card {
	border: 1px solid #eee;
	border-radius: 5px;
	overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card .card-content {
	padding: 0.5rem;
	background: #e6eefd;
	flex: 1;
}

.card .card-content .title {
	font-size: 12px;
}

.card .card-content .price-container {
	margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .card-content .price-container .link {
  font-size: 12px;
  color: #0085ff;
  cursor: pointer;
}
.card .card-content .price-container .link a{
  text-decoration: none;
  color: #0085ff; 
}

.card .card-content .price-container .price {
	font-size: 20px;
	color: #0085ff;
}
.footer{
	padding: 1rem;
	background: #333;
}
/************left footer*******************/
.left-footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	border: 1px solid #ddd;
	height: 35px;
	color: #fff;
	border-radius: 5px;
}
.location{
	display: flex;
	align-items: center;
}
.location-icon{
	margin-right: 10px;
}
.location-button{
	color: violet;
}




/***********center footer********************/
.center-footer{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
  max-width: 200px;
  margin: 0 auto;
}

.social-icon{
	display: flex;
	font-size: 30px;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  width: 100%;
}

.footer-text{
	font-size: 12px;
	padding: -20px;
  color: #fff;
}
.right-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 0;
}
.footer-logo{
  max-width: 180px;
  max-height: 50px;
}

.right-footer {
  text-align: right; 
}



@media only screen and (max-width: 991.95px) {
  .header .header-logo {
    max-width: 100px;
  }

  .header .fa-shopping-cart {
    position: relative;
    color: #fff;
    font-size: 1rem;
    margin-right: 1rem;
  }

  .header .fa-shopping-cart::after {
    content: '1';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #d4a113;
    color: #fff;
    font-size: 10px;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  }

  .header .fa-user {
    font-size: 1rem;
    color: #fff;
  }

  .content .sidebar {
    display: none;
  }

  .left-footer {
    margin: 0 auto 20px auto;
  }

  .right-footer {
    text-align: center;
    margin-top: 20px;
  }
}